{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block main %}
    <h1>Home</h1>

    <form action="/search" method="POST">
        <input name="search">
        <input type="submit">
    </form>

    <video class="video" width="640" height="480" controls></video>

    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-storage.js"></script>
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyC0c1Ni5dqBYe4fx-j_j9RBVrfAbFRRtJs",
            authDomain: "sitecursos-fb0f8.firebaseapp.com",
            databaseURL: "https://sitecursos-fb0f8-default-rtdb.firebaseio.com",
            projectId: "sitecursos-fb0f8",
            storageBucket: "sitecursos-fb0f8.appspot.com",
            messagingSenderId: "527634793144",
            appId: "1:527634793144:web:6d943bc0ea3e4b4f9daa4d",
            measurementId: "G-8QYPZ8BGE2"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        var storage = firebase.storage();
        var storageRef = storage.ref();

        var videoElement = document.querySelector(".video")
        storageRef.child("courses/videos/1e5339f0-d374-4902-a816-27eabbaa8c17.mp4").getDownloadURL().then(url => {
            videoElement.innerHTML = `<source src="${url}" type="video/mp4">`
        })
    </script>
{% endblock %}


