{% extends "layout.html" %}

{% block title %}
    Add Course
{% endblock %}

{% block main %}
    <form id="form" action="/register_course" method="POST" enctype=multipart/form-data>
        <input type="hidden" name="module_count" id="module_count_input">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"></span>
            <input name="course_name" type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div>
            <h4>Thumb</h4>
            <input name="thumb" type="file" accept="image/x-png,image/jpeg" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">        </div>
        <div class="accordion modules" id="accordionExample">
            
        </div>

        <button onclick="addModule()" class="btn btn-outline-primary" type="button" style="margin-top: 1rem;">Add Module</button>

        <button type="submit" class="btn btn-outline-primary" style="margin-top: 1rem;">Create Course</button>
    </form>
    
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-storage.js"></script>
    <script>
        var indexFile = [];
        var indexModule = 1;
        var module_count = 0;
        function addClass(module) {
            console.log(indexFile[module - 1])
            var div = document.createElement("div")
            div.innerHTML = `<li style="padding-top: 1rem;"><input accept="video/*" class="videoUploadFile" name="file${indexFile[module - 1]}/${module}" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload"></li>`
            classlist = document.querySelector(`.module${module} .class-list`)
            classlist.appendChild(div)
            indexFile[module - 1] += 1;
        }

        function addModule() {
            indexFile.push(0)
            module_count += 1;

            var indexModuleText = inWords(indexModule).split(" ").join("")
            indexModuleText = capitalize(indexModuleText)

            newDiv = document.createElement('div')
            newDiv.className = `accordion-item module${indexModule}`
            newDiv.innerHTML = `<h2 class="accordion-header" id="heading${indexModuleText}"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${indexModuleText}" aria-expanded="true" aria-controls="collapse${indexModuleText}">Module #${indexModule}</button></h2><div id="collapse${indexModuleText}" class="accordion-collapse collapse show" aria-labelledby="heading${indexModuleText}" data-bs-parent="#accordionExample"><div class="accordion-body"><div class="input-group mb-3"><span class="input-group-text" id="basic-addon1"></span><input name="module_name${indexModule}" type="text" class="form-control" placeholder="Module Name" aria-label="Username" aria-describedby="basic-addon1"></div><ol class="class-list"></ol><button onclick="addClass(${indexModule})" class="btn btn-outline-primary" type="button">Add</button></div></div>`

            moduleHtml = `<div class="accordion-item module${indexModule}"><h2 class="accordion-header" id="heading${indexModuleText}"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${indexModuleText}" aria-expanded="true" aria-controls="collapse${indexModuleText}">Module #${indexModule}</button></h2><div id="collapse${indexModuleText}" class="accordion-collapse collapse show" aria-labelledby="heading${indexModuleText}" data-bs-parent="#accordionExample"><div class="accordion-body"><div class="input-group mb-3"><span class="input-group-text" id="basic-addon1"></span><input name="module_name${indexModule}" type="text" class="form-control" placeholder="Module Name" aria-label="Username" aria-describedby="basic-addon1"></div><ol class="class-list"></ol><button onclick="addClass(${indexModule})" class="btn btn-outline-primary" type="button">Add</button></div></div></div>`
            modules = document.querySelector(".modules")
            modules.appendChild(newDiv);
            
            document.querySelector("#module_count_input").value = module_count;

            indexModule += 1;
        }

        var a = ['','one ','two ','three ','four ', 'five ','six ','seven ','eight ','nine ','ten ','eleven ','twelve ','thirteen ','fourteen ','fifteen ','sixteen ','seventeen ','eighteen ','nineteen '];
        var b = ['', '', 'twenty','thirty','forty','fifty', 'sixty','seventy','eighty','ninety'];

        function inWords (num) {
            if ((num = num.toString()).length > 9) return 'overflow';
            n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
            if (!n) return; var str = '';
            str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'crore ' : '';
            str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'lakh ' : '';
            str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'thousand ' : '';
            str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'hundred ' : '';
            str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) : '';
            return str;
        }

        const capitalize = (s) => {
            if (typeof s !== 'string') return ''
            return s.charAt(0).toUpperCase() + s.slice(1)
        }

        const form = document.querySelector("#form")
        form.addEventListener("submit", testeAdd)

        var firebaseConfig = {
            apiKey: "AIzaSyC0c1Ni5dqBYe4fx-j_j9RBVrfAbFRRtJs",
            authDomain: "sitecursos-fb0f8.firebaseapp.com",
            databaseURL: "https://sitecursos-fb0f8-default-rtdb.firebaseio.com",
            projectId: "sitecursos-fb0f8",
            storageBucket: "sitecursos-fb0f8.appspot.com",
            messagingSenderId: "527634793144",
            appId: "1:527634793144:web:6d943bc0ea3e4b4f9daa4d",
            measurementId: "G-8QYPZ8BGE2"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        var storage = firebase.storage();
        var storageRef = storage.ref();
        
        const VIDEO_EXTENSIONS = ["mp4", "quicktime", "mov"]
        const IMAGE_EXTENSIONS = ["jpg", "png", "jpeg"]

        function testeAdd(event) {
            event.preventDefault()
            const videoInputs = document.querySelectorAll("input.videoUploadFile")
            const imageInputs = document.querySelectorAll("input.imageUploadFile")
            const inputs = document.querySelectorAll("input")

            if (module_count == 0) {
                event.preventDefault()
                alert("Please add at least one module")
                return false
            }

            for(i = 0; i < inputs.length; i++) {
                if (inputs[i].value == "") {
                    alert("Fill all inputs!")
                    return false
                }
            }

            if (videoInputs.length == 0) {
                event.preventDefault()
                alert("Please add at least one class")
                return false
            }

            for (i = 0; i < imageInputs.length; i++) {
                const ext = imageInputs[i].files[0].name.split(".").pop()
                if (!IMAGE_EXTENSIONS.includes(ext)) {
                    event.preventDefault()
                    alert("Please only jpg, jpeg or png files")
                    return false;
                }
            }

            for (i = 0; i < videoInputs.length; i++) {
                const ext = videoInputs[i].files[0].name.split(".").pop()
                if (!VIDEO_EXTENSIONS.includes(ext)) {
                    event.preventDefault()
                    alert("Please only .mp4 or .mov files")
                    return false;
                }
            }

            const buttons = document.querySelectorAll("button")
            buttons.forEach(button => {
                button.disabled = true
            })

            var size = 0;
            for (i = 0; i < videoInputs.length; i++)
            {
                const input = videoInputs[i]
                const file = input.files[0];
                const fileext = file.type.split("/").pop();
                const name = file.name.split(".").shift().split('_').join('').split('@').join('').split('.').join('')
                size += file.size
                const id = genId()
                if (VIDEO_EXTENSIONS.includes(fileext)) {
                    storageRef.child(`courses/videos/${id}.${fileext}`).put(file)
                }   
                input.name += id + "@" + name + "." + fileext;
                input.value = ""
            }
            for (i = 0; i < imageInputs.length; i++) {
                const input = imageInputs[i]
                const file = input.files[0];
                const fileext = file.type.split("/").pop();
                const name = file.name.split(".").shift().split('_').join('').split('@').join('').split('.').join('')
                size += file.size
                const id = genId()
                if (IMAGE_EXTENSIONS.includes(fileext)) {
                    storageRef.child(`courses/images/${id}.${fileext}`).put(file)
                }
                input.name += id + "@" + name + "." + fileext;
                input.value = ""
            }
            
            size = size / 1000000
            setTimeout(() => {
                form.submit();
                return true
            }, 5000 + size * 20)
        }

        function genId() {
            return '_' + Math.random().toString(36).substr(2, 9);
        }

        function inputsFilled(inputs) {
            for(i = 0; i < inputs.length; i++) {
                if (inputs[i].value == "") {
                    return false
                }
            }
            return true
        }

    </script>
    
    <h6>{{ message }}</h6>
{% endblock %}


