{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block main %}
    <h1 style="padding-bottom: 2rem;">Register.</h1>
    <form action="/register" method="post">
        <div class="form-group mb-3">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <p style="color: red; font-size: small;">{{ message }}</p>
        <button class="btn btn-primary" type="submit">Register</button>
        <p style="padding-top: 0.5rem; font-size: smaller;">Already have an account? <a href="/login">Log in</a>.</p>
    </form>
{% endblock %}