{% extends "layout.html" %}

{% block title %}{{ video.video_name }}{% endblock %}

{% block main %}

    <h1>{{ video.video_name }}</h1>

    <video class="video" width="1050" height="590" controls>
        <source src="https://firebasestorage.googleapis.com/v0/b/sitecursos-fb0f8.appspot.com/o/courses%2Fvideos%2F{{ video.file_name }}?alt=media&token=829ed68d-a658-478f-934b-021d544ef719" type="video/mp4">
    </video>

    <div id="next_videos">
        <ol>
            {% for v in videos %}
                <li style="list-style: none">
                    <a href="/video?video_id={{ v.id }}&course_id={{ course_id }}">
                        <video width="300" height="150">
                            <source src="https://firebasestorage.googleapis.com/v0/b/sitecursos-fb0f8.appspot.com/o/courses%2Fvideos%2F{{ v.file_name }}?alt=media&token=829ed68d-a658-478f-934b-021d544ef719#t=1" type="video/mp4">
                        </video>
                    </a>
                    <h4>{{ v.video_name }}</h4>
                    <h5>Class {{ v.class_num }} / Module {{ v.module_num }}</h5>
                </li>
            {% endfor %}     
        </ol>
    </div>
{% endblock %}



